body{
	font-family: roboto;
	margin-bottom: 0;
	padding: 0;
	line-height: 1.5;
	font-weight: 400;
	color: black;
	height: 100%;

}

html{
	height: 100%;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
  font-style: 1000px}

.copertina {
 
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}


.av1 {
  color: white;
  text-align: right; 
  margin-right: 0.5em;
  font-size: 2em;
}



.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight:100;
}

  


.container{
	padding: 2rem;
	padding-bottom: 200px;
	margin: 0 auto;
	max-width: 1200px; 
}


.top-section{

	padding: 4rem 0;
	max-width: 800px;
	margin: 0 auto;
}



.timeline{
	position: relative;
	min-height: 150px;
}

.line{
	position: absolute;
	z-index: 2;
	left: calc(50% - 1px);
	width: 1px;
	top: -50px;
	bottom: -50px;
	background-color: black;
	display: none;

	
}

.line:before,
.line:after{
	position: absolute;
	display: block;
	content: '';
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background-color: black;
	left: 50%;
	transform: translateX(-50%);
}

.line: after{
	bottom: 0;
}

.section{
	display: flex;
	opacity: 0;
	transform: translateX(-100%);
	transition:  600ms ease;
	position: relative;
	z-index: 1;
	margin: 50px 0;
	padding: 1rem;
	border-radius: 1rem;
	align-items: center;
	min-height: 300px;
}


.section:nth-child(odd){
	flex-direction: row-reverse;
	transform: translateX(100%);
}

.bead{
	position: absolute;
	display: block;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background-color: black;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);

}


.content{
	width: calc(50% - 2rem);

}


.show-me:nth-child(n){
	transform: none;
	opacity: 1;
}

h1{
	font-weight: 600;
	letter-spacing: 1px;
}

.titoletto{
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/*fisarmonica*/

.accordion {
  height: 12.5vh;
  background-color: black;
  color: black;
  cursor: pointer;
  padding: 0% 10% ;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2em;
  transition: 0.4s;
  font-weight: bold;
}

.active, .accordion:hover {
  background-color: white;

}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}





/*Griglia*/

.griglia{

      margin: 5% 9% 10%;
      max-width: 1050px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap:3em;
      display: grid;

      


    }

    .cella{
      /*outline: 1px red solid;*/
      min-height: 10em;
      margin-bottom: 1em; 
    }


    .doppia{
      grid-column: span 2;
    }

    .tripla{
      grid-column: span 3;
    }


    .quadrupla{
      grid-column: span 4;
    } 

    .immagine{
      object-fit: contain;
  width: 100%;
  max-height: 100%;
    }



    /* video*/


.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url(frame.jpg) no-repeat center
    center/cover;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

  
/*footer*/


.griglia3 {


  margin: 1em 9em 10em;
      max-width: 1050px;
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap:3em;
    }


hr.new1 {
  border-top: 1px solid #d2d2d2;
    }


    .linea-verticale {
  border-right: 1px solid #d2d2d2;
  left: 100%;
  margin-left: -3px;
  top: 0;
  }

  a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




.didascalia{
  font-style: oblique;
}
 




